.dashboard-container {
    flex: 1;
    padding: 5vh;
}

.ticket-count {
    margin-left: 16%;
}

.status-approved {
    background-color: rgb(0, 173, 0) !important ;
}

.status-waiting {
    background-color: rgb(255, 210, 125) !important;
}

.status-unapproved {
    background-color: rgb(255, 101, 101) !important;
}

.status-pending {
    background-color: rgb(184, 184, 184) !important;
}

.status-progress {
    background-color: rgb(255, 255, 111) !important;
}