.about-container {
  flex: 1;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.hero {
  padding: 6rem 3rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero .highlight {
  color: #e91e63;
}

.lead {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.aboutus-container {
  padding: 3vw 2vh;
}

.aboutus-container h1 {
  font-size: 2.3rem;
}

.aboutus-content .highlight {
  color: #e91e63;
}

.aboutus-content p {
  font-size: 1.2rem;
}

.branches-container {
  padding: 3vw 2vh;
}

.branches-container h1{
  font-size: 2.3rem;
}

.branches-content {
  margin-top: 1.5rem;
}

.branches-img {
  width: 23vw;
  height: 30vh;
  display: block;
  margin: auto;
  border: 3px solid black;
}

.faq-container {
  padding: 3vw 2vh;
}

.faq-container h1 {
  font-size: 2.3rem;
}

.faq-answers {
  font-weight: 400;
}

.contact-container {
  padding: 3vw 2vh;
}

.contact-icon {
  width: 32px;
  height: 32px;
}