h1 {
    text-align: center;
    font-size: 2.8vh;
    color: black;
    padding-bottom: 5vh;
}

h3 {
    text-align: left;
    font-size: 2.5vh;
    color: black;
}

.haveaccount p {
    text-align: center;
    padding-top: 3vh;
}

.textbox {
    padding-left: 5vw;
}

.signupContain {
    position: relative;
    padding-top: 12vh;
    padding-left: 15vw;
    width: 50vw;
    height: 90vh;
}

button {
    background-color: #FF8282;
    width: 20vw;
}

.signupbtn {
    padding-top: 5vh;
}

label {
    white-space: nowrap;
}