body {
  overflow-x: hidden;
}

.about-page-container {
  width: 100%;
}

.about-container {
  flex: 1;
}

.faq-section-title {
  margin-bottom: 20px;
}

.hero-content {
  padding-left: 12vw;
  padding-right: 12vw;
}

.text-content {
  padding-left: 12vw;
  padding-right: 12vw;
}

.value-content {
  padding-left: 12vw;
  padding-right: 12vw;
}

.faq-item {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  border-left: 5px solid #ff6699;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  color: #333;
}
